<?xml version="1.0" encoding="UTF-8"?>

<web-app
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
  id="WebApp_ID"
  version="3.0">

<welcome-file-list>
  <welcome-file>toc.jsp</welcome-file>
</welcome-file-list>

<servlet>
  <servlet-name>CreationCompte</servlet-name>
  <jsp-file>/pages/creationCompte.jsp</jsp-file>
</servlet>
<servlet>
  <servlet-name>ListeLogements</servlet-name>
  <jsp-file>/pages/listeLogements.jsp</jsp-file>
</servlet>
<servlet>
  <servlet-name>CreationLogement</servlet-name>
  <jsp-file>/pages/creationLogement.jsp</jsp-file>
</servlet>
<servlet>
  <servlet-name>ajouter</servlet-name>
  <servlet-class>jdbclogements.AddLogementServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>CreationCompte</servlet-name>
  <url-pattern>/compte/creer</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>CreationLogement</servlet-name>
  <url-pattern>/logement/creer</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>ListeLogements</servlet-name>
  <url-pattern>/logements</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>ajouter</servlet-name>
  <url-pattern>/logement/ajouter</url-pattern>
</servlet-mapping>



<env-entry>
  <env-entry-name>host</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>mysql.info.unicaen.fr</env-entry-value>
</env-entry>

<env-entry>
  <env-entry-name>database</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>21201323_7</env-entry-value>
</env-entry>

<env-entry>
  <env-entry-name>username</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>21201323</env-entry-value>
</env-entry>

<env-entry>
  <env-entry-name>password</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>kipheepahtaishod</env-entry-value>
</env-entry>


<env-entry>
  <env-entry-name>table</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>logements</env-entry-value>
</env-entry>

</web-app> 
